body {
    background-color: #FFFFF7;
    margin: 0;
    padding: 0;
    height: 100vh; /* add this to make the body full height */
    display: flex; /* add this to make the body a flex container */
    flex-direction: column; /* add this to make the body a column flex container */
}
.content {
    flex: 1; /* add this to make the content area take up the remaining space */
}
.icon-bar {
    background-color: rgba(235, 231, 231, 0.5); /* transparent background */
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.icon-bar a {
    color: rgb(95, 94, 94);
    font-size: 40px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}
.icon-bar a:hover {
    color: #d3c5c5;
}
.image1 {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 200px;
    margin-bottom: auto;
}
.image2 {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    margin-top: 0px;
    margin-bottom: 0px;
}
.scan-button{
    color: #FFFFF7;
    background-color: #fffff7;
    border-width: 0;
}
.loader {

  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: #FF3D00;
  animation: fill 1s ease-in infinite alternate;
  display: none;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional, for full-screen centering */
  }

@keyframes fill {
 0% {  box-shadow: 0 0 0 2px inset }
 100%{ box-shadow: 0 0 0 10px inset }
}
@media only screen and (max-width: 768px) {
    /* Styles for mobile devices here */
    .icon-bar a {
      font-size: 30px; /* Reduce icon size for smaller screens */
      margin-left: 20px; /* Adjust spacing for better fit */
      margin-right: 20px;
    }
    .image {
      width: 70%; /* Adjust image width for smaller screens */
      margin-top: 100px; /* Adjust margin for better layout */
    }
  }

  
